# Python
__pycache__/
*.py[cod]
*.egg-info/

# VS Code
.vscode/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Data (DO NOT TRACK RAW DATA)
#data/raw/
#data/cleaned/
#*.csv
*.zip
01_data/dataset2_our_world/00_raw/cases_deaths_v0.csv

# OS
.DS_Store

# PowerPoint cache
~$*.pptx